.app {
    background-color: white;
}
.footer {
    background-color:lightsteelblue;
    display: flex;
    justify-content: center;
}
.download-footer{
    background-color:aliceblue;
    margin: 5px;
    border: none;
    color: black;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    transition-duration: 0.2s;
}
.download-footer:hover {
    background-color: lightseagreen; /* Green */
    color: white;
  }
.CV-box{
    display: flex;
    margin: 2px;
}
.img-CV-box {
    border-radius: 100px;
    margin: 10px;
}
.CV-description {
    margin: 5px;
}
.icons{
    margin: 5px;
}
.menu {
    color:black;
    background-color: lightsteelblue;
    position: sticky; 
}